@import "../../../shared/variables";

button {
  @include apply-font($font-body);
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;

  color: white;
  border-style: none;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  background-color: $color-green;

  &:disabled {
    background-color: #b6b6b6;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    pointer-events: none;
  }
}
.btn-primary {
  &:hover {
    padding: 20px 40px;

    background-color: $color-purple;
  }

  &:active {
    padding: 15px 30px;

    color: black;

    background-color: white;
  }
}

.btn-secondary {
  @include apply-font($font-subtitles-mobile);
  background-color: transparent;
  border: 1px solid $color-green;

  &:hover {
    background-color: $color-green;
  }

  &:active {
    color: $color-purple;
    background-color: white;
    border: none;
  }
}

.btn-tertiary {
  @include apply-font($font-subtitles-mobile);
  background-color: $color-purple;

  &:hover {
    background-color: $color-green;
  }

  &:active {
    color: $color-green;
    background-color: white;
    border: none;
  }
}
