<section id="about">
  <img class="shadow" src="/images/purple-shadow-about.png" alt="Shadow" />
  <h1>About me</h1>
  <p>
    Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus
    convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor
    sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
  </p>
  @for (thing of personalThings; track thing.title) {

  <div class="personal-thing">
    <img src="/images/{{ thing.image }}" alt="{{ thing.imageAlt }}" />
    <p>
      {{ thing.content }}
    </p>
  </div>
  }
</section>
