<section id="hero">
  <div class="hero-image">
    <img src="/images/hero.png" alt="Hero image" />
  </div>
  <div class="slanted-shape"></div>
  <div class="heading">
    <div class="heading__rotated-text-wrapper">
      <h5 class="heading__rotated-text">I&nbsp;am</h5>
    </div>
    <div>
      <h1 class="heading__name">Dominik Roth</h1>
      <h6>FRONTEND DEVELOPER</h6>
    </div>
  </div>
  <button class="hero-button">Let's Talk!</button>
  <ul class="contact-list">
    <div class="contact-list__line"></div>
    <li>
      <img src="/images/github-mobile.png" alt="Github Logo" />
    </li>
    <li>
      <img src="/images/mail-mobile.png" alt="Mail Logo" />
    </li>
    <li>
      <img src="/images/linkedin-mobile.png" alt="LinkedIn Logo" />
    </li>
  </ul>
</section>
